@use "../utils" as *;

/*----------------------------------------*/
/*  2.2 background
/*----------------------------------------*/

.white-bg {
  background-color: var(--rr-common-white);
}
.black-bg {
  background-color: var(--rr-common-black);
}

// Theme bg
.theme-bg-1 {
  background-color: var(--rr-theme-primary);
}
.theme-bg-2 {
  background-color: var(--rr-gray-900);
}


// Gradient color
.bg-gradient-1 {
  background: linear-gradient(90deg, #674AD9 0%, #FB5141 50.52%, #089EFF 100%);
}