@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
.latest-blog__area{
    .bottom-button{
        gap: 10px;
        justify-content: center;
        a{
            color: var(--rr-heading-primary);
            background: #F5F5F5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            transition: .3s;

            &:hover{
                background: var(--rr-theme-primary);
                color: var(--rr-common-white);
            }
        }
    }
}
.postbox__thumb-slider .swiper-container {
    overflow: hidden;
}
.postbox__slider-arrow-wrap .postbox-arrow-next {
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	right: 0;
	z-index: 9;
}
.postbox__slider-arrow-wrap button {
	height: 50px;
	width: 50px;
	line-height: 50px;
	background-color: var(--rr-common-white);
	color: var(--rr-common-black);
	text-align: center;
	font-size: 18px;
	transition: 0.3s;
}
.postbox__slider-arrow-wrap button:hover {
	background-color: var(--rr-theme-primary);
    color: #ffff;
}
.postbox__slider-arrow-wrap .postbox-arrow-prev {
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	left: 0;
	z-index: 9;
}
.postbox__play-btn a {
	height: 85px;
	width: 85px;
	line-height: 85px;
	background-color: var(--rr-common-white);
	color: var(--rr-theme-primary);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 50%;
	animation: pulse 2s infinite;
    & i {
        font-size: 20px;
        font-weight: 700;
    }
}
.latest-blog2__item-wrapper-item-img img {
    width: 374px !important;
    height: 275px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    -o-object-fit: cover;
    object-fit: cover !important;
}